html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .legal-trigger {
            top: auto;
            left: auto;
            right: 0;
            width: 49px;
            height: 32px;
            bottom: 0px;
        }
    }
}