html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .cta-trigger {
            left: 14px;
            top: 65px;
            width: 95px;
            height: 27px;
        }
    }
}