html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .legal-trigger {
            top: auto;
            right: auto;
            left: 50px;
            width: 42px;
            height: 20px;
            bottom: 5px;
        }
    }
}