html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        .legal-trigger {
            top: auto;
            right: auto;
            left: 0px;
            width: 47px;
            height: 22px;
            bottom: 0px;
        }

        .move-cta {
            left: 80px;
        }
    }

    #ad.fr {
        .move-cta {
            left: 92px;
        }
    }
}