@import 'variables';
@import 'mixins';

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        $backgroundPadding: 18px;

        .backgrounds {
            margin: $backgroundPadding;
            height: calc(100% - #{$backgroundPadding * 2}); 
            max-width: $lineHeight; 
 
            img { 
                width: auto; 
                height: 100%; 
            } 
        }

        .backgrounds:after { 
            @include line('false', $lineHeight, $lineColor); 
            z-index: 2 !important;
        }
    }
}