@import 'variables'; 

html, body {
    width: {width}px;
    height: {height}px;
}

.{namespace} {
    #ad {
        width: {width}px;
        height: {height}px;

        #border {
            width: {width}-2px;
            height: {height}-2px;
        }

        $lineHeight: 13px;
        $backgroundPadding: 19px;

        .backgrounds {
            margin: $backgroundPadding;
            height: calc(100% - #{$backgroundPadding * 2}); 
            max-width: $lineHeight; 
 
            img { 
                width: auto; 
                height: 100%; 
            } 
        }

        .backgrounds:after { 
            content: ' '; 
            position: absolute; 
            right: 0; 
            top: 0; 
            height: 100%; 
            width: $lineHeight; 
            background: $lineColor; 
        } 
    }
}