@import 'variables'; 

.{namespace} {
    #ad.r{revision}.s300x250, #ad.r{revision}.s250x250 {
        .backgrounds:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: $lineHeight;
            background: $lineColor{revision};
        }
    }

    #ad.r{revision}.s728x90 {
        .backgrounds:after {
            content: ' ';
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: $lineHeight;
            background: $lineColor{revision};
        }
    }
}