
/* reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }
/* end reset.scss */


.{namespace} {
    img[src=""]{
        content: "";
    }

    #border {
        position: absolute;
        border: 1px solid black;
        z-index: 100;
        pointer-events: none;
    }

    #ad {
        font-family: 'Helvetica Neue', helvetica, Arial, sans-serif;
        background-color: white;
        position: relative;
        top:0px;
        left:0px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
    }

    .background {
        width: 100%;
    }

    .preview {
        position: absolute;
        width: 100%;
        z-index: 3;
        pointer-events: none;
        transition: 0.4s opacity; 
        width: 100%;
    }

    .video {
        background: black;
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        top: 0;
    }

    .item {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .duration {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        background-color: white;
        width: 0;
        z-index: 50;
        transition: width 0.1s; 
    }
    
    .mute, .play {
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: 14px;
        z-index: 50;
        cursor: pointer;
        transition: opacity 0.3s; 
    }

    .mute img,  .play img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%; 
    }

    .mute {
       left: 48px; 
    }

    .mute.off .muted {
        opacity: 0;
    }

    .mute.on .unmuted {
       opacity: 0;
    }

    .button {
        background: #fff;
        border: 1px solid #000;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        letter-spacing: 2px;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: 1px;
            width: 100%;
            text-align: center;
        }
    }

    .play {
       left: 14px; 
    }

    .play.off .play {
        opacity: 0;
    }

    .play.on .pause {
        opacity: 0;
    }

    .show {
        opacity: 1;
    }

    .hide {
        opacity: 0;
    }
}