
/* reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  /* end reset.scss */
  
  
  .{namespace} {
      img[src=""]{
          content: "";
      }
  
      #ad {
          font-family: 'Helvetica Neue', helvetica, Arial, sans-serif;
          background-color: black;
          position: relative;
          overflow: hidden;
          cursor: pointer;
      }

      #border {
          border: 1px solid #949494;
          z-index: 20;
      }

      .triggers {
        position: relative;
      }

      .backgrounds {
        z-index: 1;
      }

      .copy {
          z-index: 3;
      }

      .logo {
        z-index: 10;
      }

      // interactions
      .triggers {
        z-index: 120;
      }

      .cta {
        z-index: 101;
      }

      .line {
        background-color: #043751;
      }

      .clickthrough-trigger {
        z-index: 1;
      }

      .show {
        opacity: 1;
      }

      .hide {
          opacity: 0;
      }

      img {
          width: 100%;
      }

      * {
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
      }
  }