<img class="legal hide" src="legal.jpg" />
<img class="logo" src="logo.png" />
<div class="copy">
    <img class="copy1 hide" src="copy1.png" />
    <img class="copy2 hide" src="copy2.png" />
    <img class="copy3 hide" src="copy3.png" />
    <img class="copy4 hide" src="copy4.png" />
    <img class="details hide" src="details.png" />
</div>
<div class="backgrounds">
    <img class="background1" src="background1.jpg" />
    <img class="background2 hide" src="background2.jpg" />
    <img class="background3 hide" src="background3.jpg" />
    <img class="background4 hide" src="background4.jpg" />
</div>
<img class="cta hide" src="cta.png" />